
h2 {
  height: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 410px;
  color: rgb(36, 36, 53);
  padding-block-start: 1px;
  padding-left: 3%;
  padding-block-end: 5px;
  text-shadow: 1px 1px 3px;
}


body {
  padding-block-end: 2%;
  background-image: radial-gradient(rgb(95, 184, 243), rgb(73, 73, 71));
  background-size: 100%;
  background-attachment: fixed;
}

button {
  margin-top: 30px;
  margin-right: -19px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.336);
  border-radius: 5px;
}

@media(max-width:800px){
  img {
    display: none;
  }
  .link{
    margin-left: 40%;
  }
}

.btn-group-justified{
  width: 400px;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: -3.3%;
  border: 5px;
}

.btn-default{
  font-size: 30px;
  font-weight: 550;
}

.signUpForm {

  margin-left: 35%;
  border-radius: 5px;
  background-color: #dbe2ec;
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 5%;
  height: 340px;
  width: 400px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.322),
    0 40px 40px 0 rgba(0, 0, 0, 0.199);
}

.loginForm {
  margin-left: 35%;
  border-radius: 5px;
  background-color: #dbe2ec;
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 3%;
  height: 340px;
  width: 400px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2),
    0 40px 40px 0 rgba(0, 0, 0, 0.19);
}

input:hover {
  border: 2px solid rgba(121, 192, 243, 0.582);
  border-radius: 4px;
}

input {
  padding-left: 1px;
  padding-right: 35px;
}

.link {
  text-decoration: none;
  font-size: 23px;
  color: rgb(248, 244, 244);
  width: 100px;
  padding: 4px 15px;
  text-align: center;
  border-radius: 5px;
  margin-left: 65%;
  background-color: rgba(70, 156, 226, 0.925);
  box-shadow: 1px 1px 2px 0.3px rgba(32, 32, 32, 0.575);
}

label {
  padding-top: 25px;
}

.navbar {
  margin-top: -40;
  background-color: #e7ecf0cc;
  padding-left: 3%;
  padding-right: 0.2%;
  height: 70px;
  width: 100%;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.247),
    0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.paydevs {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px;
  color: rgba(43, 41, 41, 0.897);
  text-decoration: none;
}

a:hover {
  color: rgb(5, 61, 99);
  text-decoration: none;
}


img {
  padding-block-end: 2%;
  padding-right: 10px;
}

span {
  font-size: 18px;
  padding-right: 15px;
}

.projectLink {
  color: rgba(8, 12, 15, 0.87);
  font-size: 30px;
}

.user {
  height: 80px;
}

.username {
  margin-left: 40%;
  font-size: 40px;
  padding-block-start: 30px;
  font-weight: 200;
  color: rgba(15, 15, 39, 0.842);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px;
}

.email {
  margin-left: 40%;
  font-weight: 200;
  color: rgba(7, 7, 26, 0.829);
  font-size: 20px;
}

ul li a {
  display: inline;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
}

.projectList {
  margin-top: 0px;
  width: 1050px;
  margin-left: 5%;
  padding-block-start: 10px;
  border-radius: 4px;
  border-block-start: 1px solid rgba(5, 55, 99, 0.63);
  background-color: #dbe2ec;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.438),
    0 5px 1px 0 rgba(0, 0, 0, 0.288);
  border-top-right-radius: 0px;
}

.projectInfo {
  border-block-end: 1px solid rgba(0, 0, 0, 0.425);
  box-shadow: 0px 1px #0a1d3334;
  width: 960px;
}

p {
  font-size: 12px;
  text-align: left;
}

.newProjectLink {
  font-size: 21px;
  text-decoration: none;
  color: white;
  background-color: rgba(15, 115, 165, 0.993);
  width: 160px;
  padding: 5px 2px;
  text-align: center;
  display: inline-block;
  margin-left: 950px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 45px;
  padding-block-start: 0px;
}

h1 {
  color: rgba(0, 0, 0, 0.719);
  text-align: center;
  padding-block-start: 20px;
  padding-block-end: 10px;
  text-shadow: 1px 1px 1px;
  font-size: 40px;
}

.container {
  margin-top: 25px;
  font-size: 12px;
}

.form-control {
  width: 98%;
}

.form-group {
  position: relative;
  left: 28%;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #dbe2ec;
  padding-left: 4%;
  padding-right: 6%;
  height: 530px;
  width: 530px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
    0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.dateTime {
  margin: 10px;
}

.btn {
  margin-left: 5%;
  margin-bottom: 40px;
  margin-top: 10%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.568);
}

.projectTitle {
  margin-right: 100px;
  padding-top: 5px;
  text-decoration: underline dotted rgba(168, 172, 175, 0.212);
}

.properties {
  background-color: rgba(250, 235, 215, 0.507);
  width: 600px;
  border-radius: 5px;
  padding: 5px 20px;
  box-shadow: 1px 1px 1px;
  height: 200px;
  margin-left: 23%;
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: clip;
}

.property {
  font-weight: 800;
  padding: 20px;
}

.btn-group-horizontal {
  flex-direction: row;
  margin-left: 35%;
  margin-top: -25px;
}

.session {
  border-block-start: 4px dotted #3a3c3fd0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.rate {
  color: rgba(10, 33, 138, 0.897);
  padding-top: 15px;
  font-weight: 700;
}

.removeRate {
  margin-left: 1px;
  margin-top: 2px;
  border: 1px solid rgba(247, 54, 54, 0.952);
  background-color: rgba(247, 54, 54, 0.952);
  color: rgba(233, 227, 227, 0.952);
  box-shadow: 0px 0px 0px 0px;
}

.rate-form {
  height: 100px;
  width: 100px;
}

.task-form {
  margin-left: 300px;
  left: 0px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #dbe2ec;
  padding-left: 4%;
  padding-right: 6%;
  height: 460px;
  width: 530px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
    0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.taskHeader {
  font-weight: 800;
  color: rgba(24, 24, 26, 0.664);
  text-shadow: 1px 0px rgba(0, 0, 0, 0.582);
}

.worked-day-form {
  margin-left: 300px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #dbe2ec;
  padding-left: 4%;
  padding-right: 6%;
  height: 265px;
  width: 530px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
    0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.worked-time-form {
  margin-left: 330px;
  top: 15px;
  margin-top: 35px;
  border-radius: 5px;
  background-color: #dbe2ec;
  padding-left: 4%;
  padding-right: 6%;
  height: 365px;
  width: 530px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
    0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.worked {
  width: 250px;
  height: 150px;
  padding-left: 25px;
  background-color: #dbe2ec9d;
  border-radius: 6px;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 45px;
  margin-top: 20px;
  display: inline-block;
}

.tasks {
  width: 300px;
  height: 260px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #dbe2ec9d;
  border-radius: 6px;
  margin-bottom: 25px;
  margin-left: 45px;
  margin-top: 10px;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
}

.workedTime {
  width: 350px;
  padding-top: 10px;
  padding-left: 25px;
  background-color: #dbe2ec9d;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-left: 45px;
  margin-top: 20px;
  display: inline-block;
}

h3 {
  padding-left: 430px;
}

.rateHeader {
  font-weight: 800;
  color: rgba(1, 1, 12, 0.829);
  margin-left: -430px;
}

.updateButton {
  margin-right: 1px;
}

.reactLink {
  color: #ffffff;
}

